.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.input {
  margin-left: 10px;
}

.button {
  margin-left: 10px;
}

.brType {
  margin-left: 10px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.bridge-request-data {
  height: 100px;
  width: 300px;
  margin-bottom: 1.5em;
}

.set-ip-input {
  width: 250px;
  margin-bottom: 1.5em;
}